# Xcode user data and build artifacts
build/
DerivedData/
*.xcuserstate
xcuserdata/
*.xcuserdatad/
*.moved-aside

# macOS
.DS_Store

# Swift Package Manager
.build/
Packages/
Package.pins
Package.resolved
*.xcodeproj/project.xcworkspace/xcshareddata/swiftpm/

# CocoaPods (in case)
Pods/

# Carthage
Carthage/Build/
Carthage/Checkouts/

# Fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots
fastlane/test_output

# Local secrets (do NOT commit)
Secrets.xcconfig
